.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.topbarLeft {
    flex: 3;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}
.searchbar {
    height: 30px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.searchIcon {
    margin-left: 10px;
    font-size: 25px;
}
.searchInput {
    border: none;
    width: 70%;
}
.searchInput:focus {
    outline: none;
}
.topbarCenter {
    flex: 5;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.topbarLinks {
    display: flex;
    font-size: 15px;
    cursor: pointer;
}
.topbarLink {
    margin-right: 10px;
    
}
.topbarIcons {
    display: flex;
}
.topbarItem {
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.topbatItemBadge {
    font-size: 12px;
    background-color: red;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topbarImg {
    height: 32px;
    width: 32px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}